<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guidebee.game.tutorial.box2d">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application    android:label="Box2D Demo" >
        <activity
            android:name=".Box2DGameActivity"
            android:label="Box2D Demo"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
